In [37]:
#use "list.ml"

val sum : int list -> int = <fun>
val taille : 'a list -> int = <fun>
val nieme : int list -> int -> int = <fun>
val recherche : 'a list -> 'a -> bool = <fun>
val concat : 'a list -> 'a list -> 'a list = <fun>
val inverse : 'a list -> 'a list = <fun>
val croissant : 'a list -> bool = <fun>
val maximum : int list -> int = <fun>
val minimum : int list -> int = <fun>
val minmax : int list -> int * int = <fun>
val pairs : int -> int list = <fun>
val splitp : 'a list -> 'a list * 'a list = <fun>
val ajout : int -> 'a list -> 'a list -> 'a list = <fun>
val supr : int -> 'a list -> 'a list = <fun>
val split : 'a list -> 'a list * 'a list = <fun>

In [23]:
taille [3; 1; 7]

- : int = 3

In [24]:
nieme [3; 1; 7] 2

- : int = 7

In [25]:
nieme [3; 1; 7] 3

error: runtime_error

In [26]:
nieme [3; 1; 7] (-3)

error: runtime_error

In [27]:
recherche [3; 1; 7] 3

- : bool = true

In [28]:
recherche [3; 1; 7] 2

- : bool = false

In [29]:
concat [1;2] [3;4]

- : int list = [1; 2; 3; 4]

In [30]:
inverse [3; 1; 7]

- : int list = [7; 1; 3]

In [31]:
croissant [1;2;3;3]

- : bool = true

In [32]:
croissant [1;2;10;3]

- : bool = false

In [33]:
maximum [3; 1; 7]

- : int = 7

In [34]:
minimum [3; 1; 7]

- : int = 1

In [37]:
minmax [9;8;3;6]

- : int * int = (3, 9)

In [8]:
pairs 5

- : int list = [10; 8; 6; 4; 2; 0]

In [2]:
splitp [9;8;3;6]

- : int list * int list = ([9; 3], [8; 6])

In [5]:
ajout 2 [1;2;3] [3;4;5]

- : int list = [1; 2; 3; 4; 5]

In [6]:
ajout 4 [1;2;3] [3;4;5]

error: runtime_error

In [9]:
ajout (-1) [1;2;3] [3;4;5]

error: runtime_error

In [13]:
supr 4 [1;2;3;4;5]

- : int list = [5]

In [18]:
supr 6 [1;2;3;4;5]

error: runtime_error

In [20]:
supr (-1) [1;2;3;4;5]

error: runtime_error

In [38]:
split [1;2;3;4;5;6;7;8]

- : int list * int list = ([1; 2; 3; 4], [5; 6; 7; 8])

In [39]:
split [1;2;3;4;5;6;7;8;9]

- : int list * int list = ([1; 2; 3; 4; 5], [6; 7; 8; 9])